@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";
@import "../styles/tokens/primitive.css";
@import "../styles/tokens/semantic.css";
@import "../styles/tokens/domain.css";
@import "../styles/tokens/state.css";
@import "../styles/tokens/component.css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  /* ==========================================================================
     Colors
     ========================================================================== */
  /* Background */
  --color-background: var(--color-background);
  --color-background-foreground: var(--color-background-foreground);

  /* Surface */
  --color-surface: var(--color-surface);
  --color-surface-foreground: var(--color-surface-foreground);

  --color-surface-subtle: var(--color-surface-subtle);
  --color-surface-subtle-foreground: var(--color-background-foreground);

  /* Brand */
  --color-brand: var(--color-brand);
  --color-brand-foreground: var(--color-brand-foreground);

  --color-brand-subtle: var(--color-brand-subtle);
  --color-brand-subtle-foreground: var(--color-brand-subtle-foreground);

  /* Primary */
  --color-primary: var(--color-primary);
  --color-primary-foreground: var(--color-primary-foreground);

  --color-primary-subtle: var(--color-primary-subtle);
  --color-primary-subtle-foreground: var(--color-primary-subtle-foreground);

  /* Secondary */
  --color-secondary: var(--color-secondary);
  --color-secondary-foreground: var(--color-secondary-foreground);

  --color-secondary-subtle: var(--color-secondary-subtle);
  --color-secondary-subtle-foreground: var(--color-secondary-subtle-foreground);

  /* Tertiary */
  --color-tertiary: var(--color-tertiary);
  --color-tertiary-foreground: var(--color-tertiary-foreground);

  --color-tertiary-subtle: var(--color-tertiary-subtle);
  --color-tertiary-subtle-foreground: var(--color-tertiary-subtle-foreground);

  /* Muted */
  --color-muted: var(--color-muted);
  --color-muted-subtle: var(--color-muted-subtle);

  /* Support */
  --color-success: var(--color-success);
  --color-success-foreground: var(--color-success-foreground);
  --color-success-subtle: var(--color-success-subtle);
  --color-success-subtle-foreground: var(--color-success-subtle-foreground);

  --color-warning: var(--color-warning);
  --color-warning-foreground: var(--color-warning-foreground);
  --color-warning-subtle: var(--color-warning-subtle);
  --color-warning-subtle-foreground: var(--color-warning-subtle-foreground);

  --color-danger: var(--color-danger);
  --color-danger-foreground: var(--color-danger-foreground);
  --color-danger-subtle: var(--color-danger-subtle);
  --color-danger-subtle-foreground: var(--color-danger-subtle-foreground);

  --color-info: var(--color-info);
  --color-info-foreground: var(--color-info-foreground);
  --color-info-subtle: var(--color-info-subtle);
  --color-info-subtle-foreground: var(--color-info-subtle-foreground);

  /* Misc */
  --color-border: var(--color-border);
  --color-input: var(--input-background);
  --color-separator: var(--separator);
  --color-ring: var(--state-focus-ring);
  --color-overlay: var(--color-overlay);

  /* ==========================================================================
     Typography
     ========================================================================== */
  --font-button-size: var(--button-font-size);
  --font-button-weight: var(--button-font-weight);
  --font-label-size: var(--label-font-size);
  --font-label-weight: var(--label-font-weight);
  --font-card-title-size: var(--card-title-font-size);
  --font-card-title-weight: var(--card-title-font-weight);
  --font-hero-title-size: var(--hero-title-font-size);
  --font-hero-title-weight: var(--hero-title-font-weight);
  --font-page-title-size: var(--page-title-font-size);
  --font-page-title-weight: var(--page-title-font-weight);
  --font-section-title-size: var(--section-title-font-size);
  --font-section-title-weight: var(--section-title-font-weight);
  --font-body-size: var(--body-font-size);
  --font-body-weight: var(--body-font-weight);
  --font-description-size: var(--description-font-size);
  --font-description-weight: var(--description-font-weight);


  /* ==========================================================================
     Radius
     ========================================================================== */
  --radius-none: var(--radius-none);
  --radius-sm: var(--radius-sm);
  --radius-md: var(--radius-md);
  --radius-lg: var(--radius-lg);
  --radius-xl: var(--radius-xl);
  --radius-2xl: var(--radius-2xl);
  --radius-3xl: var(--radius-3xl);
  --radius-4xl: var(--radius-4xl);
  --radius-full: var(--radius-full);

  /* ==========================================================================
     Shadows
     ========================================================================== */
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);

  /* ==========================================================================
     Motion
     ========================================================================== */
  --animate-duration-fast: var(--duration-fast);
  --animate-duration-normal: var(--duration-normal);
  --animate-duration-slow: var(--duration-slow);
}

/* ==========================================================================
   Styling
   ========================================================================== */
/* .dark {
} */

@layer base {
  * {
    /* @apply ; */
  }

  body {
    /* @apply ; */
  }

  html {
    /* @apply ; */
  }
}