:root {
    /* ==========================================================================
   State Tokens : Opacity
   ========================================================================== */
    --state-opacity-disabled: var(--opacity-40);
    --state-opacity-hover: var(--opacity-80);

    /* ==========================================================================
   State Tokens : Focus
   ========================================================================== */
    --state-focus-ring-width: 3px;
    --state-focus-ring: var(--color-primary);
}